@tailwind base;
@tailwind components;
@tailwind utilities;

/* input::placeholder {
    color: #FADA7A;
}

input, .bgmid {
    background-color: #f9b062 !important;
}

input:focus {
    background-color: #f5f5f0;
    outline: none;
}

:root {
    scrollbar-color:
        color-mix(in oklch, currentColor 35%, #0000) #0000;
    background-color: #FADA7A;
}

.bglight{
    background-color: #FADA7A;
}
.bgdark, aside{
    background-color: #F0A04B;
    color: black;
}

.hover-light:hover{
    background-color: #f9b062 !important;
} */